spring:
  application:
    name: ostia-product-catalog-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://localhost:9443/realms/ostia
  profiles:
    active: test

  jpa:
    hibernate:
      ddl-auto: none
    defer-datasource-initialization: true

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: sa

  sql:
    init:
      mode: always

  messages:
    basename: error,validation,logging-messages
    encoding: UTF-8

management:
  endpoints:
    web:
      exposure:
        include: "*"
        exclude: env,beans

server:
  port: 8444
  ssl:
    enabled: true
    key-store: classpath:certs/dev/product-catalog.p12
    key-store-password: changeit
    key-store-type: PKCS12
    key-alias: product-catalog

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.security: DEBUG
